<div class="col-md-4 col-lg-3">
  <div class="row">
    <% if movie.poster_image_url %>
    <%= link_to image_tag(movie.poster_image_url.to_s, class: "img-thumbnail center-block"), movie_path(movie) %>
    <% else %>
    <%= link_to image_tag("/images/fallback/default.png", class: "img-thumbnail center-block"), movie_path(movie) %>
    <% end %>
  </div>
  <div class="row">
    <div class="movie-title">
      <%= movie.title %>
    </div>
    <div class="rating">
      <% unless movie.reviews.empty? %>
        <% if movie.average_rating >= 7 %>
        <div class="fresh-apple"></div>
        <% elsif movie.average_rating >=5 %>
        <div class="bad-apple"></div>
        <% else %>
        <div class="rotten-apple"></div>
        <% end %>
      <% end %>
      <div class="movie-rating">
        <% unless movie.reviews.empty? %>
        <%= movie.average_rating %>/10
        <% else %>
        <p>No reviews</p>
        <% end %>
      </div>
    </div>
  </div>
</div>