<blockquote>
  <p><%= review.text %></p>
  <div class="row">
    <div class="col-xs-6">
      <p class="text-muted"><%= review.rating_out_of_ten %>/10</p>
    </div>
    <div class="col-xs-6 text-right">
      <small class="text-muted pull-right"><%= review.user.full_name %></small>
    </div>
  </div>
</blockquote>